@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/rose';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: var(--font-m);
}

.app {
  color: var(--primary-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

.container {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: 100%;
}
