.title {
  font-size: var(--font-size-xl);
  color: var(--secondary-color);
}

.text {
  font-size: var(--font-size-l);
  color: var(--primary-color);
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}