.title {
  font: var(--primary-font);
  color: var(--primary-color);
}

.text {
  font: var(--secondary-font);
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}