.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .item {
    gap: 0;
  }
}
