.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  color: transparent;
  font-size: 18px;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  height: 3px;
  width: 9px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  position: absolute;
  animation: blink 0.7s forwards infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}