.AddCommentForm {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px;
  border: 1px solid var(--primary-color);
}

.btnAdd {
  min-width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}