.app.dark {
  --bg-color: #2a4097;
  --inverted-bg-color: #f3e2e2;
  --primary-color: #0cbd06;
  --secondary-color: #15ff0d;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #4e3c3c;
}
