.app_dark_theme {
  --bg-color: #2a4097;
  --inverted-bg-color: #f3e2e2;
  --primary-color: #0cbd06;
  --secondary-color: #15ff0d;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;

  //skeleton
  --skeleton-color: #0232c2;
  --skeleton-shadow: #0452ff;

  //code
  --code-bg: #3d5cd6;
}
