.app_rose_theme {
  --bg-color: #FBF4F6;
  --inverted-bg-color: #cd778f;
  --primary-color: #a91438;
  --secondary-color: #a91438;
  --inverted-primary-color: #a91438;
  --inverted-secondary-color: #84106F;

  //skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: #cd778f;
}
