.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.mainLinks {
  margin-left: auto;
}

.mainLinks a {
  margin-right: 20px;
}
