.BIG {
  .views {
    margin-right: 8px;
  }

  .card {
    margin-bottom: 30px;
  }
}

.SMALL {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .card {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}